<% provide(:title, 'Users') %>
<div class="span6 offset2">
	<h1>Users</h1>
	<h2>In order of creation</h2>
	<% User.all.each do |user| %>
		<div class="user<%=user.id%>">
			<h5><%= user.id %>.</h5>
			<h4><%= link_to user.user_name, user_path(user.id) %></h4>
			<%= link_to "Delete", user, method: :delete, :remote=> true, :format => :js, data: {confirm: 'Are you sure?'} %>
		</div>
	<% end %>
</div>