<% provide(:title, 'Users') %>
<div class="span3 offset3">
	<h1>Users</h1>
	<h2>In order of creation</h2>
	<% User.all.each do |user| %>
		<h4><%= user.id %></h4>
		<%= user.user_name %><br/>
		<%= user.name %>
	<% end %>
</div>