<% provide(:title, @category.title) %>
<div class="span3">
	<h1><%= @category.title %></h1>
	<%= render "shared/item_list", :category_id => @category.id %>
	<%= link_to "New Item", new_item_path %>
</div>