<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<%=link_to(image_tag("star-half.png", size: "32x32", alt: "Ratings App"),
 				root_path, title:"Return Home", :class=>"logo") %>
			<nav>
				<ul class="nav pull-right">
		            <% if signed_in? %>
		            	<li id="fat-menu" class="dropdown">
		              		
		            	</li>
		            	<li><%= link_to "Profile", current_user %></li>
		                <li class="divider"></li>
		                <li>
		                	<%= link_to "Sign out", signout_path, method: "delete" %>
		                </li>
		          	<% else %>
		            	<li><%= link_to "Sign in", signin_path %></li>
		          	<% end %>
		        </ul>
			</nav>
		</div>
	</div>
</header>